/*  Size
- Mobile: 375px
- Desktop: 1440px
 */

/* Font
Outfit
weights 300, 400 and 600
size 18 - Body, Copy and Paragraph
*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* VARIABLES */

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Cyan-Opaque: hsl(178, 100%, 50%, 0.5);
  --main-background: hsl(217, 54%, 11%);
  --card-background: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-background);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 25px;
}

a {
  text-decoration: none;
}

.card {
  background-color: var(--card-background);
  max-width: 350px;
  border: none;
  border-radius: 15px;
  padding: 24px;
  box-shadow: 0px 20px 25px 15px rgba(0, 0, 0, 0.05),
    0px 40px 30px 15px rgba(0, 0, 0, 0.1);
}

.card-image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card-image::after {
  content: url(/nft-preview-card-component-main/images/icon-view.svg);
  background: var(--Cyan-Opaque);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.25s ease;
}

.card-image:hover::after {
  opacity: 1;
}

.card-image img {
  width: 100%;
  display: block;
}
.card .card-body {
  padding: 23px 0;
  border-bottom: 1px solid var(--line-color);
  margin-bottom: 15px;
}
.card-title {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card-title:hover {
  color: var(--Cyan);
}
.card-text {
  color: var(--Soft-blue);
  padding-bottom: 15px;
  line-height: 1.5;
  margin-bottom: 23px;
  font-weight: 300;
}

.card-body .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
}

.card-price,
.card-countdown {
  display: flex;
  align-items: center;
}

.card-price {
  color: var(--Cyan);
}

.card-countdown {
  color: var(--Soft-blue);
}
.card-icon {
  padding-right: 3px;
}

.card-footer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-author-img {
  width: 35px;
  height: 35px;
  border: 1px solid var(--white);
  border-radius: 50px;
  margin-right: 15px;
}

.card-author-name {
  color: var(--Soft-blue);
  font-size: 15px;
  font-weight: 300;
}

.card-author-name a {
  color: var(--white);
}

.card-author-name a:hover {
  color: var(--Cyan);
}
.card .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
